#blocks, #details { 
    padding-bottom: 10px;
    padding-top: 1px;
}

#comments {
  list-style-type: none;
}

.comment {
  border-radius: 25px;
  border: thin solid #87CEFA;
  padding: 20px; 
  width: 400px;  
  margin: 10px;
  display: flex;

}

.comment span {
  flex-grow: 1;
}

#content {
  background-color :#fbfbfb;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  width: 50%;
}

.headshot {
  min-width: 80px;
  width: 25%;
}

.image-thumbs img {
  margin: 10px;
  max-height: 250px;
  max-width: 250px;
}

#dinosaur-image-container img {
  margin-top: 10px;
  margin: 10px;
  max-height: 500px;
  max-width: 500px;
}